*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
div{
	outline: 2px solid red;
}
.first{
	background: tomato;
	font-size: 0;
}
.first div{
	vertical-align: top	;
	height:400px;
	font-size: 20px;
	width:400px;
    display:inline-block;
}
.second{
	vertical-align: top;
	font-size: 0px;
}
.perviy  {
	background: blueviolet;
	width: 800px;
	font-size: 12px;
	display: inline-block;
}

.vtoroy  {
	background: chocolate;
	vertical-align: top;
	width: 400px;
	font-size: 12px;
	display: inline-block;
}
.perviy div{
	height:200px;
}
.vtoroy div{
	height:133px;
}
.third{
	background: blue;
	font-size: 0px;
}
.pershe{
	background: yellowgreen;
	font-size: 12px;
	display: inline-block;
	width:400px;
	height: 400px;
}
.druge{
	font-size: 0px;
}
.druge{
	background: darkcyan;
	vertical-align: top;
	width: 800px;
	height: 400px;
	font-size: 12px;
	display: inline-block;
}
.drugiy{
	background: pink;
	vertical-align: top;
	width: 800px;
	height: 200px;
	font-size: 12px;
}
.tretie{
	width: 800px;
	height: 200px;
	font-size: 0px;
}
.tretiepart-one{
		font-size: 0px;}
.tretiepart-one{
	font-size: 12px;
	width:400px;
	height: 200px;
	display: inline-block;
}
.three{
	font-size: 0px;
}
.three{
	font-size: 12px;
	display: inline-block;
	width: 400px;
	height: 200px;
}
.tretiepart-one{
	font-size: 0px;
}
.tretiepart-one{
	font-size: 12px;
}
.tretiepart-one div{
height: 100px;
}
