*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio,button, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	width: 1200px;
	margin: 15px auto;
}
div {
	outline: 2px solid red;
}
.first{
	display: flex;
}
.first div{
	border: 2px solid red;
	height: 400px;
	background: orchid;
}
.second{
	display: flex;
	height: 400px;
}
.drugiy{
	max-width: 400px;
}
.drugiy div{
	height: 133.33px;
}
.pershuy div{
	height: 200px;
}
.third{
	display: flex;
}
.pershuy-third{
	min-width: 400px;
}
.drugiy-third div{
	height: 200px;
	display: flex;

}
.ostanniy-third{
	display: flex;
}
.ostanniy-third div + div{
flex-direction: column;
height: 100px;
}
.bigthird {
min-width:400px;
}
	.bigthird-second{
		min-width:400px;
		flex-direction: column;
	}
	.second{
		background: forestgreen;
	}
	.third{
		background: lightseagreen;
	}