@import url(reset.css);
.clearfix::after{
content: '';
clear: both;
display: block;
}
@font-face {
    font-family: 'Nunito Sans 7pt';
    src: url('../fonts/NunitoSans7pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito Sans 7pt';
    src: url('../fonts/NunitoSans7pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.container{
	max-width: 1200px;
	margin: 0 auto;
}
.hat {
color: #1A1A1A;
font-size: large;
padding: 41px 0 54px 0;
font-family: 'Nunito Sans 7pt';
font-size: 24px;
}

.main-table{
  margin: auto;
  width: 100%;
  border-style: hidden;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0 2px #e4e4ef; 

}
 .main-table,.main-table th, .main-table td
{
  text-align: left;
margin: 10px  auto;
border-top: 2px solid #e4e4ef;
}
.main-table th {
  text-align: left;
  padding: 18px 16px;
  font-weight: 700;
width: 300px;
font-size: 16px;
}
.main-table th + th + th  { 
  width:auto ;
  text-align: center;

}
.main-table th + th + th + th  { 
  width:144px ;
  text-align: left;
}

.btn{
  border-radius: 12px;
padding: 4px 24px;
width: 83px;
height: 28px;
  font-size: 12px;
}
.main-table p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #808080;

}
.main-table td + td + td{
	text-align: center;
}
.white{
  background:#EDEDFE;
  color: #605DEC;
}
.red{
  background:#FFF0F0ed;
  color: #F93232;
}
.green-light{
  background: #EBF6EB;
  color: #31AA27;
}
.gray{
	background: #F8F9FB;
	color: #BDBCDB;
}

.main-table td{
  padding: 8px 16px;
}
.main-table .child{
  text-align: center;
}
.orange{
  background: #FFF4E4;
  color: #E99518;
}
/*TABLE */
.gohome{
text-decoration: none;
padding: 8px 16px;
	text-align: center;
	background: black;
	color: #fff;
}
.aside-block{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;
	background:#EFEBFF;
transition: width .4s linear;
overflow: hidden;
display: flex;
align-items: flex-start;
}
.aside-list{
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 0 0	 0 27px;
}
.aside-block li + li{
	margin-top:14px
}
.icon{
		width: 24px;
	height: 24px;
}
.aside-link{
	display: flex;
	align-items: center;
}
.aside-link span{
	border: 2px solid black;
	transform: rotate(45deg);
	overflow: hidden;
line-height: 10px;
border-radius: 5px;
max-width: 34px;
max-height: 34px;
margin-right: 300px;
transition: margin-right 0.4s linear;
padding: 2px;
}
.icon{
	transform: rotate(-45deg);
	transition: all .4s linear;
}
.aside-link:hover .icon{
	transform: scale(1.5) rotate(-45deg);
}
.aside-block:hover{
	width: 300px;
}
.wrapper{
	padding-left: 100px;
	transition: padding .4s linear;
}
.aside-block:hover + .wrapper{
	padding-left: 300px;
}
.aside-block:hover .aside-link span{
	margin-right: 12px;
}
.aside-link{
	text-decoration: none;
	color: #1A1A1A;
	font-family: 'Nunito Sans 7pt';
}
.hidden{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
}
.setting-icon{
height: 37px;
width: 37px;
}
.aside-title{
	display: flex;
gap: 300px;
align-items: center;
transition: gap .4s linear;
padding: 37px 28px 52px 0;
}
.aside-block:hover .aside-title{
	gap: 12px;
}
.aside-dash{
	color: #1A1A1A;
	font-family: 'Nunito Sans 7pt';
}
.aside-list li + li:hover{
	background: #f4f2fa;
}
.setting-icon{
  transition: all .4s linear;
}
.setting-icon:hover{
  transform: rotate(360deg);
}
