@import url(reset.css);

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  background: #EBF1FF;
  overflow: hidden;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
/*.bg{
  position: absolute;
  background: url(../images/lines.svg) no-repeat 50% / cover;
  width: 1133px;
  height: 442px;
  margin-left: auto;*/

.header{
  font-weight: 700;
  font-family: 'Roboto';
  color: #7D8790;
  padding: 15px 0;
}
.logo-header{
  display: inline-block;
  margin-right: 113px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu{
  display: flex;
  gap: 45px;
  position: relative;
}
.header-btn{
  padding: 15px 42px;
  margin-left: 40px;
  background: #215EE9;
  color: #FFFFFF;
  border-radius: 30px;
  cursor: pointer;
}
.icon{
  width: 144px;
  height: 24px;
}
.hidden{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.notif-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}
.header-menu-list a{
color: #7D8790
;
text-decoration: none;
}
.header-menu-list{
  position: relative;
}
.header-menu-list a::before{
content: '';
position: absolute;
top: 30px;
left: 50%;
bottom: 0;
right: 0;
background: #215EE9;
width: 7px;
height: 7px;
border-radius: 10px;
opacity: 0;
}
.header-menu-list a:hover:before{
  opacity: 1;
}
.header-menu-list a:hover{
  color: #215EE9
  ;
}
.header-menu-list .active{
  color: #215EE9;
}
.header-menu-list .active:before{
  opacity: 1;
}
.absolute{
  position: absolute;
top: 0;
left: 0;
width: 1133px;
height: 442px;
background: url(../images/lines.svg);
transform: translateY(-28%);
}
.login-menu{
  position: relative;
  transform: translate(55px);
}
.notif-icon{
  position: absolute;
  top: 10px;
  left: auto;
  right: 0;
  width: 22px;
  height: 22px;
  transform:translate(90px) ;
}
.login-menu a{
  color: #7D8790;
  text-decoration: none;
}
.hero-pre-title{
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #215EE9;
}
.hero-description{
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 20px;
  color: #215EE9;
  width: 520px;
}
.hero-title{
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 65px;
  width: 543px;
  color: #215EE9;
padding: 19px 0 30px 0;
}
.union-icon{
  width: 20px;
  height: 16px;
  position: absolute;
  top: 26px;
  left: 25px;
  z-index: 1;
}
form{
  position: relative;
  width: 515px;
  margin-top: 52px;
}
.email-input{
  position: relative;
  width: 100%;
  padding-right: 180px;
  height: 68px;
  border-radius: 40px;
  border: 1px solid #FFFFFF;
  padding: 8px 11px;
  padding-left: 30px;
 
}
.btn-input{
  position: absolute;
  top: 50%;
  left: auto;
  right: 10px;
  width: 180px;
border-radius: 40px;
padding:16px 48px;
transform: translateY(-50%);
background: #215EE9
;
color: #FFFFFF;
font-weight: 700;
font-family: 'Roboto';
border: 2px solid #215EE9;
cursor: pointer;
}
.email-input{
  position: relative;
}
input::placeholder{
  position: absolute;
  top: 25px;
  left: 65px;
  /*background: url(../images/Union.svg) no-repeat;*/
  height: 100px;
  width: 120px;
}
input::placeholder:after{
  content: '';
  top: 0;
  left: 0;
  background: red;
}